<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>개인 정보 입력</title>
</head>
<body>
	<h2>개인 정보 입력</h2>
	
	<!-- 
		1) action="life.do" 의 경우 : 404 에러 
		   ▶ http://localhost:8088/01_Servlet/views/life.do
		   ▷ uesrForm.html 파일이 위치하는 폴더(여기서는 views) 기준으로 life.do 를 붙임
		  
		2) action="/life.do" 의 경우 : 404 에러
		   ▶ http://localhost:8088/life.do
		   ▷ / 는 tomcat 루트 (tomcat 까지의 경로) 를 의미
		
	 -->
	<!-- method 값을 get, post 바꿔가면서 확인해보세요 ! -->  
	<form action="/01_Servlet/method.do" method="get">
		<label>이름 : <input type="text" name="userName" size="12"></label><br>
		<label>성별 : </label>
		<label> <input type="radio" name="gender" value="남자">남자</label>
		<label> <input type="radio" name="gender" value="여자">여자</label><br>
	
		<label>나이 : <input type="text" name="age" size="12"> </label><br>
		<label>키 : <input type="text" name="height" size="12"></label><br>
		
		<label>좋아하는 음식 : </label>
		<label> <input type="checkbox" name="food" value="한식">한식</label>
		<label> <input type="checkbox" name="food" value="분식">분식</label>
		<label> <input type="checkbox" name="food" value="중식">중식</label>
		<label> <input type="checkbox" name="food" value="양식">양식</label>
		<label> <input type="checkbox" name="food" value="일식">일식</label>
		
		<br><br>
		
		<input type="submit" value="전송">
		<input type="submit" value="취소">
	</form>
	
</body>
</html>